name: "app"
uri:
  base: "/"
  host: "/"
  api: "https://api.github.com/"

default:
  displayCount: 10
  modalAnimateIn: "fadeInRight"
  modalAnimateOut: "fadeOutRight"

piwik:
  enabled: false
  app: 'appName'
  prod: 'prodName'
  url: ''
  siteId: 0

urlHtml5Mode: true
version: "0.0.1"
