[
  {
    url: "/"
    params:
      name: "home"
      label: "Home"
      templateUrl: "partials/home.html"
      controller: "HomeCtrl"
  }
  {
    url: "/article/:id"
    params:
      name: "article"
      label: ""
      templateUrl: "partials/article.html"
      controller: "ArticleCtrl"
  }
]
